:root {
  --primary-color: #6B5FA0;
  --secondary-color: #fff;
  --terciary-color: #a8a89e;
  --accessory-color: #8a9e83;
  --highlight-color: #8A38F5;
  --danger-color: #c07a56;
}


/* Botões */
/* botão primário */
.btn-primary {
  background-color: var(--accessory-color);
  border-color: transparent;
}

.btn-primary:hover {
  background-color: var(--accessory-color);
  border-color: transparent;
  opacity: 0.9;
}

.btn-primary:active {
  background-color: var(--accessory-color);
  border-color: transparent;
  opacity: 0.8;
}


/* botão secundário */
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--terciary-color);
  color: var(--terciary-color);
}

.btn-secondary:hover {
  background-color: transparent;
  border: 1px solid var(--terciary-color);
  color: var(--terciary-color);
  opacity: 0.9;
}

.btn-secondary:active {
  background-color: transparent;
  border: 1px solid var(--terciary-color);
  color: var(--terciary-color);
  opacity: 0.8;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid var(--terciary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: min(600px, 60vh);
}

.card:active {
  opacity: 0.5;
}

.modal {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 20vh;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* preto com 50% de opacidade */
}