:root {
  --primary-color: #6b5fa0;
  --secondary-color: #fff;
  --terciary-color: #a8a89e;
  --accessory-color: #8a9e83;
  --highlight-color: #8a38f5;
  --danger-color: #c07a56;
}

/* Botões */
/* botão primário */
.btn-primary {
  background-color: var(--primary-color);
  border-radius: 100px;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-radius: 100px;
  border-color: transparent;
  opacity: 0.9;
}

.btn-primary:active {
  background-color: var(--accessory-color);
  border-radius: 100px;
  border-color: transparent;
  opacity: 0.8;
}

.invisible-button {
  background-color: transparent;
  border-radius: 100px;
  border: transparent;
}

/* botão secundário */
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--terciary-color);
  border-radius: 100px;

  color: var(--terciary-color);
}

.btn-secondary:hover {
  background-color: transparent;
  border: 1px solid var(--terciary-color);
  border-radius: 100px;

  color: var(--terciary-color);
  opacity: 0.9;
}

.btn-secondary:active {
  background-color: transparent;
  border: 1px solid var(--terciary-color);
  border-radius: 100px;

  color: var(--terciary-color);
  opacity: 0.8;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid var(--terciary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  
}

body.dark-mode .container {
  background-color: #1e1e29;
}

.card:active {
  opacity: 0.5;
}

.badge {
  background-color: var(--terciary-color);
  color: #fff;
}
